{% extends "core/base.html" %}
{% block content %} 

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>
    
    {% comment %} Row 1--------------------- {% endcomment %}

    <div class="row text-white text-center mb-5">
        {% comment %} Row one col one {% endcomment %}
        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3 i-colo"></i>
            <h3>Python</h3>
            <p class="ss-color">Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

        {% comment %} Row one col two {% endcomment %}

        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

        {% comment %} Row one col three{% endcomment %}

        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

    </div>

    {% comment %} Row 2--------------------- {% endcomment %}

    <div class="row text-white text-center mb-5">
        {% comment %} Row Two col one {% endcomment %}
        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

        {% comment %} Row Two col two {% endcomment %}

        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

        {% comment %} Row Two col three{% endcomment %}

        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

    </div>

    {% comment %} Row 3--------------------- {% endcomment %}

    <div class="row text-white text-center mb-5">
        {% comment %} Row three col one {% endcomment %}
        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

        {% comment %} Row three col two {% endcomment %}

        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

        {% comment %} Row three col three{% endcomment %}

        <div class="col sm-4">
            <i class="fa-brands fa-python fa-2x mb-3"></i>
            <h3>Python</h3>
            <p>Lorem ipsum dolor 
                sit amet 
                consectetur</p>
        </div>

    </div>



</div>



{% endblock content %}