{% extends 'core/base.html'%}
{% block content %} 

<div class="container mt-4">

    <h1 class="text-warning">Education & Awards</h1>

    <div class="row text-white mt-5">

        <div class="col-sm-5 text-center border-bottom">
            <h2>Education</h2>
        </div>

        <div class="col-sm-5 offset-sm-2 text-center border-bottom">
            <h2>Awards</h2>
        </div>

        {% comment %} \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ {% endcomment %}

        <div class="col-sm-5">
            <h3 class="mt-5">Yashwantrao Chavan Maharashtra Open University , Maharashtra<h5>2021-2024</h5></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:62%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100"><b>62%</b></div> 
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Best Startup Idea & Execution Plan<h5>February-2020</h5></h3>
            <P>Received in Inter College Compitition from VALIA Chhaganlal Laljibhai College of Commerce Andheri Mumbai</P>
        </div>

        
        <div class="col-sm-5">
            <h3 class="mt-5">GS College of Commerce Wardha , Maharashtra <h5>2017-2019</h5></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:71%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100"><b>71%</b></div> 
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Business Idea Contest<h5>January-2019</h5></h3>
            <p>Received Business Idea Award from Bajaj Auto - BYST group Wardha , Maharashtra</p>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Gurukul Vidya Niketan Deoli Wardha , Maharashtra <h5>March-2017</h5></h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90.20%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100"><b>90.20%</b></div> 
            </div>
        </div>
 
    </div>




</div>
{% endblock content %}