{% extends 'core/base.html'%}
{% block content %} 

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Skills</h1>



    <div class="row text-white">

        <div class="col-sm-5">
            <h3 class="mt-5">HTML CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:62%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100">62%</div> 
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">HTML CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:71%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100">71%</div> 
            </div>
        </div>

        
        <div class="col-sm-5">
            <h3 class="mt-5">HTML CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:71%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100">71%</div> 
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">HTML CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100">50%</div> 
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">HTML CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90.20%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100">90.20%</div> 
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">HTML CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:91%;" aria-vauenow="100" aria-valuemin="0" aria-valuemax="100">91%</div> 
            </div>
        </div>


        



    </div>




</div>
{% endblock content %}